.GlassCard {
    margin-top: 64px;
    border-radius: 26px;
    border: 3px solid rgba(0, 0, 0, 0.08);
    background: rgba(0, 0, 0, 0.04);
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(6px);
    padding: 40px;
}