input {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: #FFF;
    padding: 16px 12px;
}

.suffix {
    display: inline-block;
    position: relative;
}

.item {
    padding: 8px 0;
}

.suffix::after {
    padding: 16px 12px;
    position: absolute;

    right: .5em;
    transition: all .05s ease-in-out;
}

@supports (-moz-appearance:none) {
    .suffix::after {
        right: 1.5em;
    }
}

.euro::after {
    content: '€';
}

.percent::after {
    content: '%';
}

.suffix input {
    padding-right: 38px;
}

.id {
    color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
    text-align: end;
    font-weight: 400;
    min-width: 16px;
}

.name-tf {
    text-align: start;
    font-weight: 600;
    width: 100%;
}

input.num {
    text-align: end;
    max-width: 50px;
}

.total {
    width: 120px;
    font-size: 16px;
    text-align: right;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
